
body{
	background-color:#F5900A
}
*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
}

.help{
	position:fixed;
	border: 1px solid black;
	border-radius: 9px;
	z-index:10;
	width:250px;
}

.quiz_wrapper{
	height: 400px;
	background-color:white;
	margin:50px auto;
	border-radius: 8px;
	padding: 0 30px;
	min-width:500px;
	max-width:1500px;
	width:100%;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:brown;
	border-radius: 8px;
	color:#ffffff;
	font-size:20px;
	float: left;
	width: 100%;

}
.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:#8E0AC2;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color:#ffffff;
	box-shadow: 0px 3px 0px grey;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}
.quiz_wrapper .options ul li.correct{
	background-color: #0fd40f;
	box-shadow: 0px 3px 0px #03a503;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #e91e1e;
	box-shadow: 0px 3px 0px #cb0b0b;
}

.quiz_wrapper .score{
	float: left;
	width: 100%;
	padding:25px 0px;
}

.quiz_wrapper .score .next{
	width: 40%;
	float: left;
}
.quiz_wrapper .score .next button{
	padding: 15px 80px;
	color:white;
	background-color:#ff9800;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 0px #c97a06;
	outline: none;
}
.quiz_wrapper .score .next button:active{
box-shadow: 0px 3px 0px transparent;	
}

.quiz_wrapper .score .score-card{
	width: 60%;
	float: left;
}
.quiz_wrapper .score .score-card{ 
	font-size: 20px;
	color:black;
	line-height: 50px;
	text-transform: uppercase;
}
.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 5px 20px;
	border-radius: 8px; 
	color:#ffffff;

}
 @media only screen and (min-width : 600px) and (max-width : 1080px) {
  
   body{
	   font-size:8px;}
    
 }
  













